.spyproject/
.vscode/
__pycache__/
html/
pdf/
.idea/
*.exe
*.xlsx
*.pyc
*.pdf
*.ris
browsermob-proxy-2.1.4/




__pycache__/article.cpython-311.pyc
__pycache__/article.cpython-311.pyc
__pycache__/article.cpython-311.pyc
__pycache__/article.cpython-311.pyc
